[Desktop Entry]
Name=Socket Trench
Exec=socket_trench
Icon=com.joao_arthur.socket_trench
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;
StartupNotify=true
